SERVER_PORT=8000
# "dev" or "prod"
ENV_TYPE=dev
WEBAPP_DOMAIN=localhost

POSTGRES_USER=root
POSTGRES_PASSWORD=secret
POSTGRES_DB=phototours_db

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@br-postgres-general:5432/${POSTGRES_DB}"

# Email (local)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_STARTTLS=false
SMTP_SSL=false
SMTP_SENDER_EMAIL=no-reply@brain100.site
SMTP_SENDER_NAME=brain100

# If you use Gmail/production SMTP later:
# SMTP_HOST=smtp.sendgrid.net
# SMTP_PORT=587
# SMTP_USER=apikey
# SMTP_PASSWORD=***secret***
# SMTP_STARTTLS=true
# SMTP_SSL=false
# SMTP_SENDER_EMAIL=no-reply@brain100.site
# SMTP_SENDER_NAME=brain100

# Secret key for JWT
JWT_SECRET_KEY=<paste-generated-secret>
JWT_ALGORITHM=HS256
 # 2 hours (60*2)
ACCESS_TOKEN_EXPIRE_MINUTES=120
# 60*24*7 - 7 days
REFRESH_TOKEN_EXPIRE_MINUTES=10000

# Payments YOOKASSA
YOOKASSA_SHOP_ID='1234567890'
YOOKASSA_SECRET='<secret-id>'
FRONTEND_URL=http://localhost:5173
